/*import google font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

:root {
  --bkg: linear-gradient(to top, #243028, #111713);
  --dark: rgba(17, 23, 19, 1);
  --darkDim: hsla(140, 15%, 8%, 0.6);
  --light: hsla(131, 2%, 34%,0.65);
  --text: #ffffff;
  --accent: #58665d;
  --subtle: rgba(51, 54, 64, 0.75);
  --charcole: hsla(133, 2%, 10%, 0.9);
  font-size: 16px;
}

html {
  font-size: 16px
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: clamp(1.1rem, 2vw + 1rem, 1.4rem);
  line-height: 1.55;
  color: var(--text);
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1rem;
}

html,body{
  width:100%;
  margin:0;
  padding:0;
  overflow-x: hidden;
}

.background_video {
  position: fixed;
  height: 100vh;
  width: 100%;
  object-fit: cover;
  z-index: -9999;
}

a.aLink:link, a.aLink:visited {
  background-color: white;
  color: var(--charcole);
  border: 2px solid var(--charcole);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 0.5rem;

}

a.aLink:hover, a.aLink:active {
  background-color: var(--accent);
  color: white;
  border: 2px solid white;
}

/************************NAVIGATION MENU************************/

/*ensure nav is always at the top of z index and top of screen*/
nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  padding-block: 1.2rem;
  background-image: linear-gradient(var(--dark) 10%, 70%, transparent 90%);
  transition: background-image 800ms cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

/* gradient at top of screen */
nav.active {
  background-image: linear-gradient(var(--dark) 15%, 70%, transparent);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-inline: 0.5rem;
  /*responsive value: (smallest, prefered, largest) will scale with screen size*/
  width: clamp(8rem, 30vw, 80rem);
  display: grid;
  place-items: center;
}

/*sets border for logo and button whilst tabbing through items*/
.logo-link:focus-visible,
.nav-link:focus-visible {
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}

/*ul menu item - settings for mobile nav*/
.nav-links {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  transform: translate3d(0, -200%, 0);
  position: absolute;
  z-index: -1;
  top: 3rem;
  left: 0;
  right: 0;
  background-color: var(--dark);
  padding: 1.5rem;
  border-bottom: 4px solid var(--accent);
  text-align: center;
}

/*transition type for menu open close*/
.nav-links.activated {
  transition: transform 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

/*links have this btn class*/
.btn {
  color: var(--text);
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

/*hamburger menu button*/
.btn--menu {
  color: #ffffff;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

/*list items for nav*/
li[role="none"],
.nav-link {
  width: 160px;
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease-in;
}

li:last-of-type a {
  background-color: var(--subtle);
  border-radius: 0.5rem;
}

ul a:hover, a:active, a:focus {
  background-color: var(--accent);
}

/*child selector only look at direct children active*/
ul li.active > a {
  background-color: var(--accent);
}

/*dropdown items under Explore link hidden until hovering */
.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
  z-index: 1;
}

/*on hiver, display items as block*/
.dropdown:hover .dropdown-content {
  display: block;
}

/*different class and color for droppdown buttons*/
.dropbtn {
  background-color: var(--light);
  margin-top: 10px;
}

/*dropdown btn hover change color*/
.dropbtn a:hover, a:active, a:focus {
  background-color: var(--accent);
}

/*aria expanded tells if nav menu is open or closed*/
.btn--menu[aria-expanded="true"] {
  /*flip hamburger*/
  transform: rotate(-180deg);
}
.btn--menu[aria-expanded="true"] + .nav-links {
  transform: translate3d(0, 0, 0);
}

.hamb-btn {
  display: block;
}
.x-btn {
  display: none;
  z-index: 100;
}

audio {
  width: 120px;
  height: 30px;
  color: var(--dark);
}

/*audio button*/
.btn--audio {
  color: #ffffff;
  background-color: transparent;
  border: none;
  display: grid;
  place-items: center;
  padding-inline: 1rem;
  transition: transform 0.3s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

.play-btn{
  display: block;
}

.pause-btn{
  display: none;
  z-index: 100;
}


/*****************HEADER*********************/
header {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  position: relative;
}

/*make width 100% - 90rem and center in middle*/
.container {
  margin-inline: max((100% - 90rem) / 2, 1rem);
}

/*make width 100% - 70rem and center in middle*/
.container--sm {
  margin-inline: max((100% - 70rem) / 2, 2rem);
}

.rise {
  opacity: 0;
  animation: rise 0.8s ease-in-out forwards;
}

.rise.one {
  animation: rise 1.2s ease-in-out forwards 0.5s;
}

@keyframes rise {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header-container {
  display: grid;
  gap: 1rem;
  position: relative;
  top: -5vh;
}
/*****************SECTIONS*********************/

section {
  display: block;
  text-align: center;
  min-height: 100vh;
  width: 100%;
  color: #ffffff;
  font-size: 4rem;
  gap: 10px;
  overflow: hidden;
  padding-top: 100px;
}

/*only will activate on Home section or whichever is first*/
section:first-of-type {
  font-size: 6rem;
}

section:last-of-type {
  background: var(--charcole);
}

/*******************HOME SECTION*****************************/
#Home{
  padding-top: 0px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-dropcap {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.has-dropcap:first-letter {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  float: left;
  font-size: 3rem;
  line-height: 0.5;
}

p.has-dropcap {
  font-size: 1.5rem;
}

#About {
  background-color: var(--light);
}

/*will start on start number and end before end number*/
.item1 {
  grid-column: 1 / 4;
}
.photoItem {
  width: 100%;
}

.photo {
  width: 75%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  overflow: visible;
  max-width: 720px;
}

.para {
  margin-bottom: 2em;
}



#Photography{
  margin: 0;
  box-sizing: border-box;

}

img {
  vertical-align: middle;
}

.carosal {
  max-height: 50vh;
}

/* Position the image container (needed to position the left and right arrows) */
.photo-container {
  position: absolute;
}

/* Hide the images by default */
.mySlides {
  display: block;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: var(--accent);
  transition: background-color 0.4s cubic-bezier(0.64, 0.04, 0.26, 0.87);

}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  bottom: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.photoRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.5;
}

.active,
.demo:hover {
  opacity: 1;
}

#Videography{
  background-color: #243028;
  width: 100%;
}

.video-carousel {
  width: 100%; /* Set the width of the container */
  overflow-x: scroll; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of the videos */
  position: absolute;
}

.video-item {
  display: inline-block; /* Display the videos side by side */
  height: 80vh;
  width: auto;
}

#References{
  background-image:
    radial-gradient(
      hsla(140, 15%, 8%, 1),
      hsla(140, 15%, 8%, 0.1)
    );
}

a[href*="https://"] {
  font-size: 1.5rem;
  text-shadow: 1px 1px var(--light);

}

#Contact{
}

form {
  vertical-align: top;
  display: inline-block;
  padding-left: auto;
  padding-right: auto;
  width: 80%;
  font-size: 1rem;
}

.row {
  width: 100%;
  display: inline-block;
  padding: 10px;
}

input.info {
  height: 100px;
  vertical-align: top;
  text-align: inherit;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  vertical-align: top;
}

/* input labels */
.col-25 {
  float: left;
  width: 40%;
  margin-top: 6px;
}

/* input user entries */
.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

/* submit buttons */
input[type=submit] {
  width: 100%;
  background-color: var(--accent);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  font-size: 1.25em; /* 16px * 1.25 = 20px */
}

/* submit buttons hover */
input[type=submit]:hover {
  background-color: var(--light);
}

.hidden {
  opacity: 0;
  /*
  filter: blur(5px);
  transform: translate(-100%);
  */
  transition: all 1s;
}

.show {
  opacity: 1;
  /*
  filter: blur(0);
  transform: translate(0);
  */
  z-index: 1;
}

/*****************************FOOTER************************************/
.footer-div {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: auto;
  padding-right: auto;
  background: var(--charcole);
}

/*****************************SCREEN SIZE ADJUSTMENTS*******************/
/*for large screen size*/
@media (min-width: 950px) {
  .btn--menu {
    display: none;
  }
  .nav-links {
    display: flex;
    position: static;
    transform: translate3d(0, 0, 0);
    flex-direction: row;
    border: 0;
    z-index: 0;
    padding: 0;
    inset: 0;
    background-color: transparent;
  }
  li[role="none"],
  .nav-link {
    width: initial;
  }

  .dropdown-content {
    position: absolute;
  }

  form {
    width: 40%;
  }

  .col-25 {
    width: 25%;
  }

  /* input user entries */
  .col-75 {
    width: 75%;
  }
}

@media (max-width: 500px) {
  #References {
    font-size: 1rem;
  }
}
